@import "style_zeroing.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));

}



section:not(:first-child) {
  @apply pt-24
}
section:not(:first-child) {
    @apply pt-24
}
section:last-child{
  @apply pb-24
}

@media (screen(lg)) {
  section:not(:first-child) {
    @apply pt-64
  }
  section:not(:first-child) {
    @apply pt-64
  }
  section:last-child{
    @apply pb-64
  }
}

@layer utilities {
  .border-left:before{
    content: '';
    position: absolute;
    left: 0;
    border-left: 3px solid;
    height: 100%;
  }
 @media (max-width:1024px) {
   .border-up:before{
     content: '';
     position: absolute;
     border-top: 3px solid ;
     top: 0;
     width: 100%;
     @apply top-0 w-full ;
   }
 }

}


